/nbproject/private/
/build/
/dist/
*.class
/build/
*.class
*.xml
*.properties
*.class
nbproject/project.properties
nbproject/private/private.properties
nbproject/ant-deploy.xml

nbproject/private/private.xml
