<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>entryController</servlet-name>
        <servlet-class>controller.entryController</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>MyNewPass</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcURL</param-name>
            <param-value>jdbc:mysql</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>ustfits</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>exitController</servlet-name>
        <servlet-class>controller.exitController</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>MyNewPass</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcURL</param-name>
            <param-value>jdbc:mysql</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>ustfits</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassController</servlet-name>
        <servlet-class>controller.forgotPassController</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>MyNewPass</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcURL</param-name>
            <param-value>jdbc:mysql</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>ustfits</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>addAccountController</servlet-name>
        <servlet-class>controller.addAccountController</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>MyNewPass</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcURL</param-name>
            <param-value>jdbc:mysql</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>ustfits</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>InsertTrainerServlet</servlet-name>
        <servlet-class>controller.InsertTrainerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerControllerServlet</servlet-name>
        <servlet-class>controller.TrainerControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogController</servlet-name>
        <servlet-class>controller.LogController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>entryController</servlet-name>
        <url-pattern>/entryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exitController</servlet-name>
        <url-pattern>/exitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassController</servlet-name>
        <url-pattern>/forgotPassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAccountController</servlet-name>
        <url-pattern>/addAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTrainerServlet</servlet-name>
        <url-pattern>/InsertTrainerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerControllerServlet</servlet-name>
        <url-pattern>/TrainerControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogController</servlet-name>
        <url-pattern>/LogController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/Error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>505</error-code>
        <location>/Error505.jsp</location>
    </error-page>
</web-app>
